<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="">
                <div class="mb-3">
                    <input type="text" placeholder="enter your username">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="enter your password">
                </div>
                <div class="mb-3">
                    <button type="submit">login</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
